name : Newman API Tests

on:
  push:
    branches: ["main"]
    


jobs: 
  run-api-tests:
    runs-on: ubuntu-latest


    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
    